<nav
  class="bg-white shadow-md py-4 px-6 flex items-center justify-between fixed top-0 left-0 w-full z-50"
>
  <!-- LEFT -->
  <div class="flex items-center gap-3">
    <a href="/home" class="cursor-pointer">
      <img
        src="https://avatars3.githubusercontent.com/u/34464790?s=220&v=4"
        alt="logo"
        class="w-12"
      />
    </a>

    <div class="hidden md:flex gap-6 text-gray-700 text-lg">
      <a href="/home" class="hover:text-black">Home</a>
      <a href="/myproject" class="hover:text-black">My Project</a>
      <a href="/contactme" class="hover:text-black">Contact Me</a>
    </div>
  </div>

  <!-- RIGHT -->
  <div class="flex items-center gap-4">
    {{#if user}}
      <span class="text-gray-700 font-medium hidden md:inline">
        Hi,
        {{user.username}}
      </span>

      <a
        href="/logout"
        class="bg-red-500 hover:bg-red-600 text-white px-6 py-3 rounded-full shadow text-sm"
      >
        Logout
      </a>
    {{else}}
      <a
        href="/login"
        class="bg-slate-900 hover:bg-slate-700 text-white px-6 py-3 rounded-full shadow text-sm"
      >
        Login
      </a>
    {{/if}}
  </div>
</nav>